<div class="cd-sign-infobox">
	<p>If you already have an account, just <%= render "devise/shared/links" %></p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "cd-form floating-labels"}) do |f| %>
	<fieldset>
		<legend>Sign up</legend>
		
		<%= devise_error_messages! %>

		<div class="icon">
			<%= f.label :email, "Email", class: "cd-label" %>
			<%= f.email_field :email, autofocus: true, required: true, class: "email" %>
		</div> 

		<div class="icon">
			<%= f.label :password, "Password", class: "cd-label" %>
			<%= f.password_field :password, autofocus: "off", required: true, class: "password" %>
		</div>

		<div class="icon">
			<%= f.label :password_confirmation, "Password Confirmation", class: "cd-label" %>
			<%= f.password_field :password_confirmation, autofocus: "off", required: true, class: "password" %>
		</div>

		<div class="action">
			<%= f.submit "Sign up" %>
		</div>
	</fieldset>
<% end %>