<main class="cd-main-content">
	<div class="cd-tab-filter-wrapper">
		<div class="cd-tab-filter">
			<ul class="cd-filters">
				<li class="placeholder"> 
					<a data-type="all" href="#0">All</a>
				</li> 
				<li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
				<li class="filter" data-filter=".drink"><a href="#0" data-type="drink">Drink</a></li>
				<li class="filter" data-filter=".food"><a href="#0" data-type="food">Food</a></li>
			</ul>
		</div>
	</div>

	<section class="cd-gallery">
		<ul>
			<li class="mix drink alcohol beer" data-order="2">
				<%= image_tag "food/beer.png" %>
				<p>beer</p>
				<div class="cd-rate-wrapper">
					<button id="cd-beer-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-beer-rate">2</span>
					<button id="cd-beer-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix morning food tasty biscuit" data-order="3">
				<%= image_tag "food/biscuit.png" %>
				<p>biscuit</p>
				<div class="cd-rate-wrapper">
					<button id="cd-biscuit-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-biscuit-rate">3</span>
					<button id="cd-biscuit-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix birthday food tasty cake" data-order="1">
				<%= image_tag "food/cake.png" %>
				<p>cake</p>
				<div class="cd-rate-wrapper">
					<button id="cd-cake-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-cake-rate">1</span>
					<button id="cd-cake-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink alcohol cocktail" data-order="4">
				<%= image_tag "food/cocktail.png" %>
				<p>cocktail</p>
				<div class="cd-rate-wrapper">
					<button id="cd-cocktail-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-cocktail-rate">4</span>
					<button id="cd-cocktail-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink coffee cappuccino" data-order="5">
				<%= image_tag "food/coffee1.png" %>
				<p>cappuccino</p>
				<div class="cd-rate-wrapper">
					<button id="cd-cappuccino-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-cappuccino-rate">5</span>
					<button id="cd-cappuccino-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink coffee espresso" data-order="6">
				<%= image_tag "food/coffee2.png" %>
				<p>espresso</p>
				<div class="cd-rate-wrapper">
					<button id="cd-espresso-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-espresso-rate">6</span>
					<button id="cd-espresso-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink coffee americano" data-order="7">
				<%= image_tag "food/coffee3.png" %>
				<p>americano</p>
				<div class="cd-rate-wrapper">
					<button id="cd-americano-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-americano-rate">7</span>
					<button id="cd-americano-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink coffee macchiato" data-order="8">
				<%= image_tag "food/coffee4.png" %>
				<p>macchiato</p>
				<div class="cd-rate-wrapper">
					<button id="cd-macchiato-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-macchiato-rate">8</span>
					<button id="cd-macchiato-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix food tasty muffin" data-order="9">
				<%= image_tag "food/cookies.png" %>
				<p>muffin</p>
				<div class="cd-rate-wrapper">
					<button id="cd-cookies-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-cookies-rate">9</span>
					<button id="cd-cookies-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix food tasty doughnut" data-order="10">
				<%= image_tag "food/doghnut.png" %>
				<p>doughnut</p>
				<div class="cd-rate-wrapper">
					<button id="cd-doughnut-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-doughnut-rate">10</span>
					<button id="cd-doughnut-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix fast food option4 hamburger" data-order="11">
				<%= image_tag "food/hamburger.png" %>
				<p>hamburger</p>
				<div class="cd-rate-wrapper">
					<button id="cd-hamburger-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-hamburger-rate">11</span>
					<button id="cd-hamburger-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix fast food option4 hotdog" data-order="12">
				<%= image_tag "food/hotdog.png" %>
				<p>hotdog</p>
				<div class="cd-rate-wrapper">
					<button id="cd-hotdog-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-hotdog-rate">12</span>
					<button id="cd-hotdog-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix tasty option2 ice cream" data-order="13">
				<%= image_tag "food/ice-cream.png" %>
				<p>ice cream</p>
				<div class="cd-rate-wrapper">
					<button id="cd-cream-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-cream-rate">13</span>
					<button id="cd-cream-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix food sushi option3 california roll" data-order="14">
				<%= image_tag "food/sushi1.png" %>
				<p>California roll</p>
				<div class="cd-rate-wrapper">
					<button id="cd-california-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-california-rate">14</span>
					<button id="cd-california-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix food sushi option1 texas roll" data-order="15">
				<%= image_tag "food/sushi2.png" %>
				<p>Texas roll</p>
				<div class="cd-rate-wrapper">
					<button id="cd-texas-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-texas-rate">15</span>
					<button id="cd-texas-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix food sushi option4 boston roll" data-order="16">
				<%= image_tag "food/sushi3.png" %>
				<p>Boston roll</p>
				<div class="cd-rate-wrapper">
					<button id="cd-boston-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-boston-rate">16</span>
					<button id="cd-boston-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix morning drink option3 tea" data-order="17">
				<%= image_tag "food/tea.png" %>
				<p>tea</p>
				<div class="cd-rate-wrapper">
					<button id="cd-tea-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-tea-rate">17</span>
					<button id="cd-tea-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink alcohol birthday option4 white wine" data-order="18">
				<%= image_tag "food/wine.png" %>
				<p>white wine</p>
				<div class="cd-rate-wrapper">
					<button id="cd-wine-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-wine-rate">18</span>
					<button id="cd-wine-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="mix drink alcohol birthday option2 red wine" data-order="19">
				<%= image_tag "food/wine-glass.png" %>
				<p>red wine</p>
				<div class="cd-rate-wrapper">
					<button id="cd-wine-glass-minus">
						<%= image_tag "icons/svg/minus-1.svg" %>
					</button>
					<span id="cd-wine-glass-rate">19</span>
					<button id="cd-wine-glass-plus">
						<%= image_tag "icons/svg/plus-1.svg" %>
					</button>
				</div>
			</li>
			<li class="gap"></li>
			<li class="gap"></li>
			<li class="gap"></li>
		</ul>
		<div class="cd-fail-message">No results found</div>
	</section>

	<div class="cd-filter">
		<form>
			<div class="cd-filter-block">
				<h4>Search</h4>
					
				<div class="cd-filter-content">
					<input type="search" placeholder="Search for a food...">
				</div>
			</div>

			<div class="cd-filter-block">
				<h4>Check boxes</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".coffee" type="checkbox" id="checkbox1">
		    			<label class="checkbox-label" for="checkbox1">Coffee lovers</label>
					</li>

					<li>
						<input class="filter" data-filter=".alcohol" type="checkbox" id="checkbox2">
						<label class="checkbox-label" for="checkbox2">Alcohol stuff</label>
					</li>

					<li>
						<input class="filter" data-filter=".tasty" type="checkbox" id="checkbox3">
						<label class="checkbox-label" for="checkbox3">So sweat</label>
					</li>

					<li>
						<input class="filter" data-filter=".sushi" type="checkbox" id="checkbox4">
						<label class="checkbox-label" for="checkbox4">Sushi fans</label>
					</li>

					<li>
						<input class="filter" data-filter=".fast" type="checkbox" id="checkbox5">
						<label class="checkbox-label" for="checkbox5">Fast food</label>
					</li>

					<li>
						<input class="filter" data-filter=".morning" type="checkbox" id="checkbox6">
						<label class="checkbox-label" for="checkbox6">Morning pair</label>
					</li>

					<li>
						<input class="filter" data-filter=".birthday" type="checkbox" id="checkbox7">
						<label class="checkbox-label" for="checkbox7">Happy birthday</label>
					</li>

				</ul>
			</div>
		</form>

		<a href="#" class="cd-close">
			<i class="fa fa-times"></i>
		</a>
	</div>

	<a href="#" class="cd-filter-trigger">
		<i class="fa fa-sliders"></i>
		Filters
	</a>
</main>