<header class="cd-header">
	<div id="cd-logo">
		<%= link_to root_path do %>
			<span>Rank-a-Food</span>
		<% end %>
	</div>


	<div id="cd-menu">
		
	</div>

	<div class="cd-main-nav">
		<% unless user_signed_in? %>
		<ul>
			<li>
				<%= link_to  new_user_session_path do %>
					<i class="fa fa-sign-in"></i>
				<% end %>			
			</li>
			<li>
				<%= link_to root_path do %>
					<i class="fa fa-info"></i>
				<% end %>			
			</li>
		</ul>
		<% else %>
		<ul>
			<li>
				<%= link_to  destroy_user_session_path, method: :delete do %>
					<i class="fa fa-sign-out"></i>
				<% end %>			
			</li>
			<li>
				<%= link_to root_path do %>
					<i class="fa fa-info"></i>
				<% end %>			
			</li>
		</ul>
		<% end %>
	</div>


<header class="cd-header">





<!--
<nav class="cd-main-nav">
	<% unless user_signed_in? %>
	<ul>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/add-food.svg") %>
			<% end %>
		</li>
		<li>
			<%= link_to  new_user_session_path do %>
				<%= image_tag("icons/svg/exit-to-app.svg") %>
			<% end %>			
		</li>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/info.svg") %>
			<% end %>			
		</li>
	</ul>
	<% else %>
	<ul>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/add-food.svg") %>
			<% end %>
		</li>
		<li>
			<%= link_to  destroy_user_session_path, method: :delete do %>
				<%= image_tag("icons/svg/exit-to-app.svg") %>
			<% end %>			
		</li>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/info.svg") %>
			<% end %>			
		</li>
	</ul>
	<% end %>
</nav>

-->