<header class="cd-header">
	<div id="cd-logo">
		<%= link_to root_path do %>
			<span>Rank-a-Food</span>
		<% end %>
	</div>

	<div id="cd-menu">
		
	</div>
<header class="cd-header">

<nav class="cd-main-nav">
	<% unless user_signed_in? %>
	<ul>
		<li>
			<%= link_to root_path do %>
				<p>just login to a add a food</p>
				<%= image_tag("icons/svg/add-food.svg") %>
			<% end %>
		</li>
		<li>
			<%= link_to  new_user_session_path do %>
				<p>log in</p>
				<%= image_tag("icons/svg/exit-to-app.svg") %>
			<% end %>			
		</li>
		<li>
			<%= link_to root_path do %>
				<p>about us</p>
				<%= image_tag("icons/svg/info.svg") %>
			<% end %>			
		</li>
	</ul>
	<% else %>
	<ul>
		<li>
			<%= link_to root_path do %>
				<p>yay! add a food</p>
				<%= image_tag("icons/svg/add-food.svg") %>
			<% end %>
		</li>
		<li>
			<%= link_to  destroy_user_session_path, method: :delete do %>
				<p>log out</p>
				<%= image_tag("icons/svg/exit-to-app.svg") %>
			<% end %>			
		</li>
		<li>
			<%= link_to root_path do %>
				<p>about us</p>
				<%= image_tag("icons/svg/info.svg") %>
			<% end %>			
		</li>
	</ul>
	<% end %>
</nav>