<header class="cd-header">
	<div id="cd-logo">
		<%= link_to root_path do %>
			<span>Rank-a-Food</span>
		<% end %>
	</div>


	<div id="cd-menu">
		
	</div>

	<div class="cd-main-nav">
		<ul>
			<% unless user_signed_in? %>
			<li>
				<%= link_to  new_user_session_path, class: "hint--left", data: { hint: "log in to rate a food!" } do %>
					<%= image_tag "icons/svg/sign-in.svg", class: "cd-sign-in" %>
				<% end %>			
			</li>
			<% else %>
			<li>
				<%= link_to  destroy_user_session_path, method: :delete, class: "hint--left", data: { hint: "log out" } do %>
					<%= image_tag "icons/svg/sign-out.svg", class: "cd-sign-out" %>
				<% end %>			
			</li>
			<% end %>

			<li>
				<%= link_to about_path, class: "hint--left", data: { hint: "about me :)" } do %>
					<%= image_tag "icons/svg/account.svg", class: "cd-about-me" %>
				<% end %>			
			</li>
		</ul>		
	</div>


<header class="cd-header">





<!--
<nav class="cd-main-nav">
	<% unless user_signed_in? %>
	<ul>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/add-food.svg") %>
			<% end %>
		</li>
		<li>
			<%= link_to  new_user_session_path do %>
				<%= image_tag("icons/svg/exit-to-app.svg") %>
			<% end %>			
		</li>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/info.svg") %>
			<% end %>			
		</li>
	</ul>
	<% else %>
	<ul>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/add-food.svg") %>
			<% end %>
		</li>
		<li>
			<%= link_to  destroy_user_session_path, method: :delete do %>
				<%= image_tag("icons/svg/exit-to-app.svg") %>
			<% end %>			
		</li>
		<li>
			<%= link_to root_path do %>
				<%= image_tag("icons/svg/info.svg") %>
			<% end %>			
		</li>
	</ul>
	<% end %>
</nav>

-->